# Visual Studio
.vs/
*.VC.db
*.VC.opendb
*.suo
*.user
*.vcxproj.user

# IntelliSense / cache
ipch/
*.ipch

# Build files
Debug/
Release/
x64/
x86/
[Bb]in/
[Oo]bj/

# Compiler outputs
*.pdb
*.ilk
*.exe
*.dll

# Logs
*.log

# Temporary
*.tmp
*.cache

# Windows
Thumbs.db
.DS_Store